*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
   
}


html {
  font-size: 10px;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background-image: url(./img/userBck.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

/* barra de navegación  */


.navBar {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  
}
.navLogo {
  text-decoration: none;
  margin: 0.5rem;
}
.navBrand {
  color: #de9e43;
  font-size: 2.5rem;
}
.navLink {
  color: #de9e43;
  font-size: 2rem;
  margin: 0rem 2rem;
}

.navButton {
  text-decoration: none;
  margin: 0.5rem;
  color: #de9e43;
  font-size: 2rem;
  border: 0.2rem solid #E7E6E1;
  border-radius: 0.3rem;
  padding: 0.3rem;
}


.navButton:hover {
  color: #e9bf83;
  background-color: #E7E6E1;
  border: 0.2rem solid #E7E6E1;
  border-radius: 0.3rem;
  font-size: 2rem;
}

.navButton a{
  text-decoration: none;
  color: #de9e43;
}

.navButton a:hover{
  text-decoration: none;
  color: #de9e43;
}



input[type="text"]{
  font-size: 2.5rem;
  color: #de9e43;
  
}

input[type=text]:focus{
  outline: none;

  
}




.bloqueUno {
  width: 80%;
  background-color: #de9e43;
  border-radius: 1.1rem;
  margin: 10rem 0rem 2rem 12rem;
  padding: 1rem;
  
}
.bloqueFecha {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fechaLeft {
  font-size: 2rem;
  display: flex;
  align-items: left;
  flex-direction: column;
  margin-left: 3rem;
}

.fechaCenter {
  font-size: 6rem;
  color: white;
  letter-spacing: 0.7rem;
}


.fechaNumero {
  font-size: 6rem;
  text-align: center;
  color: white;
}

.fechaMes {
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.5rem;
  color: white;
}

.fechaAño {
  font-size: 3rem;
  text-align: center;
  letter-spacing: 0.7rem;
  color: #E7E6E1;
}

.nuevaTarea {
  display: flex;
  justify-items: center;
  align-items: center;
  width: 100%;
  margin:2rem 0rem 1rem 6rem;

  
  
}

.campoTareas{
  display: inline-block;
  border-radius: 0.3rem;
  padding: 0.5rem;
  height: 5rem;
  width: auto;
  background-color: white;
  color: #de9e43;
  margin: 0rem 3rem;
  font-size: 2rem;

}

.tareaOrdenar{
  width: 25rem;
}



.addButton {
  font-style: bold;
  font-size: 4rem;
  background-color:transparent;
  color: white;
  border: none;
 text-align: center;
 display: inline-block;
  
 
}



.listadoTareas {
  margin-left: 14rem;
}



.task{
  font-size: 2.5rem;
  width: 80%;
  border-bottom: 0.2rem dotted white;
  margin: 2rem;
  cursor: pointer;
  color: white;
}



.bloqueDos {
  width: 80%;
  background-color: #e9bf83;
  border-radius: 1.1rem;
  margin: 5rem 0rem 2rem 12rem;
  padding: 1rem;
}

.tituloCumpleaños{
  margin: 2rem 0rem;
  font-size: 3.5rem;
  color: white;
  text-align: center;
  letter-spacing: 0.5rem;
}

#ingresoCumpleaños{
  width: 50rem;
  margin:1rem 2rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
}

.cumpleaños{
  color: white;
  font-size: 2.5rem;
  margin: 1rem 2rem;
}







.footer {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 4rem;
  background-color: #de9e43;
  
}

.footerBloque {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footerBrand {
  font-size: 2rem;
  letter-spacing: 0.3rem;
  text-decoration: none;
  margin: 1rem 0rem;
  color: #E7E6E1;
}


.footerAcceso {
  font-size: 1.5rem;
  text-decoration: none;
  margin: 1rem 0rem;
  color: #E7E6E1;
}


.footerSocial {
  display: flex;
  flex-direction: row;
  
}


.footerRedes {
  color: #E7E6E1;
  font-size: 2.5rem;
  margin: 0rem 1rem;
}

.footerRedes:hover{
  color: #C4C4C0;
}

.done {
  background-color: var(--diabled);
  text-decoration: line-through;
  color: var(--dark);
}



/* bloque clima */

.search-form {
  margin: 20px 20px;
}

.searchbox {
  padding: 10px 20px;
  
  max-width: 480px;
  margin: 0px auto;
  border-radius: 3px;
}

.search {
  width: 100%;
  
  border: none;
  font-size: 1rem;
}

.search:focus {
  outline: none;
}

.weather-card {
  margin: 20px 20px;
  
  padding: 20px;
  text-align: center;
  border-radius: 3px;
  
}

.city {
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  color: #de9e43;
}

.date {
  font-size: 0.9rem;
  margin-bottom: 2rem;
  color: #de9e43;
}


.temperature {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  color: black;
}

.temp-img {
  width: 50px;
  margin-right: 10px;
}

.temp {
  font-size: 2.2rem;
  font-weight: bold;
}

.weather {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}




