*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}


html {
  font-size: 10px;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background-image: url(../img/userBck.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;  

}

/* barra de navegación  */


.navBar {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  box-shadow: 2px 2px 3px 3px #C4C4C0;
  border-radius: 0.6rem;

}

.navLogo {
  text-decoration: none;
  margin: 0.5rem 1rem;
  width: 3vw;
}

.navBrand {
  color: #de9e43;
  font-size: 2.5rem;
  
}

#navLink {
  color: grey;
  font-size: 2rem;
  margin-left: 3rem;
  
}

#navLink:hover{
  text-decoration: none;
  color: #de9e43;
  
}

.navButton {
  text-decoration: none;
  margin: 0.5rem;
  color: #de9e43;
  font-size: 2rem;
  border: 0.2rem solid #E7E6E1;
  border-radius: 0.3rem;
  padding: 0.3rem;
}


.navButton:hover {
  color: white;
  background-color: #de9e43;
  border: 0.2rem solid #de9e43;
  border-radius: 0.3rem;
  font-size: 2rem;
}

.navButton a{
  text-decoration: none;
  color: #de9e43;
}

.navButton a:hover{
  text-decoration: none;
  color: white;
}



input[type="text"]{
  font-size: 2.5rem;
  color: #de9e43;
  
}

input[type=text]:focus{
  outline: none;

  
}


/* bloque superior: fechas tareas */

.bloqueUno {
  
  background-color: #de9e43;
  border-radius: 1.1rem;
  margin: 10rem 0rem 2rem 12rem;
  padding: 1rem;
  
}

/* fecha */

.bloqueFecha {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fechaLeft {
  font-size: 2rem;
  display: flex;
  align-items: left;
  flex-direction: column;
  margin-left: 3rem;
}

.fechaCenter {
  font-size: 6rem;
  color: white;
  letter-spacing: 0.8rem;
  text-align: center;
  padding-left:12rem ;
}


.fechaNumero {
  font-size: 6rem;
  text-align: center;
  color: white;
}

.fechaMes {
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.5rem;
  color: white;
}

.fechaAño {
  font-size: 3rem;
  text-align: center;
  letter-spacing: 0.7rem;
  color: white;
}

/* tareas */

.nuevaTarea {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin:1rem;
  
  
}

.campoTareas{
  display: inline-block;
  border-radius: 0.3rem;
  padding: 0.5rem;
  height: 5rem;
  width: auto;
  background-color: white;
  color: #de9e43;
  font-size: 2rem;
  

}



.addButton {
  font-style: bold;
  font-size: 4rem;
  background-color:transparent;
  color: white;
  border: none;
  text-align: center;
  display: inline-block;
  margin :0rem 2rem;
}



.listadoTareas {
  margin-left: 14rem;
}



.task{
  font-size: 2.5rem;
  width: 80%;
  border-bottom: 0.2rem dotted white;
  margin: 2rem;
  cursor: pointer;
  color: white;
}

/* cumpleaños */

.bloqueDos {
  
  background-color: #e9bf83;
  border-radius: 1.1rem;
  margin: 8rem 0rem 2rem 12rem;
  padding: 1rem;
}

.tituloCumpleaños{
  margin: 2rem 0rem;
  font-size: 3.5rem;
  color: white;
  text-align: center;
  letter-spacing: 0.5rem;
}

#ingresoCumpleaños{
  width: 50rem;
  margin:1rem 2rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
}

.nuevoCumpleaños{
  color: white;
  font-size: 2.5rem;
  margin: 1rem 2rem;
  
  
}




/* footer */

.footer {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top:auto;
  background-color: #de9e43;
  
}

.footerBloque {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 1rem;
}

.footerBrand {
  font-size: 2rem;
  letter-spacing: 0.3rem;
  text-decoration: none;
  margin: 1rem 0rem;
  color: #E7E6E1;
  text-decoration: none;
}


.footerBrand:hover{
  color: #de9e43;
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.3rem;
  margin: 0rem;

}

.footerAcceso {
  font-size: 1.8rem;
  text-decoration: none;
  margin: 1rem 0rem;
  color: #E7E6E1;
}

.footerAcceso:hover{
  color: #C4C4C0;

}


.footerSocial {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  align-items: center;
}


.footerRedes {
  color: #E7E6E1;
  font-size: 2.5rem;
  margin: 0rem 1rem;
}

.footerRedes:hover{
  color: #C4C4C0;
}

.done {
  text-decoration: line-through;
  color:#e9bf83;
}

.newPageBody{
  background-image: none;
  
}

/* paginas nuevas/en construccion */

.mainNewPage{
  height: 100vh;
  display: block;
  justify-items: center;
  align-items: center;
  margin-top: 15rem;

}

.newPageImg{
  width:28vw;
  margin:5rem;
  margin-left: 35vw;

}

.newPageTitle{
  font-size: 2rem;
  font-weight: 600;
  color: #de9e43;
  letter-spacing: 0.3rem;
  background-color: #E7E6E1;
  padding: 1rem;
  text-align: center;
}

.newPageText{
  margin-top: 2rem;
  margin-left: 47vw;
  
  
}

.newPageLink{
  font-size: 1.6rem;
  text-decoration: none;
  letter-spacing: 0.2rem;
  text-align: center;
  background-color: #de9e43;
  border-radius: 0.5rem;
  padding: 1rem;
  color: white;
 
}

.newPageLink:hover{
  background-color: #C4C4C0;
  color: #de9e43;
}



